body{
    background-color: rgb(165, 51, 51);
    color:rgb(224, 204, 165);
    font-family: "Neuton", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: antiquewhite;
}